@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #8072cb;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #8072cb;
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #8072cb;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #8072cb;
  }
}
